body{
    padding-top:70px;
}
.navbar{
    min-height: 70px;
}
/*  Nav && DropdownList */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover 
{
    background-color: #1295DE;
    color: #FFF;
}
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}
.navbar-inverse .navbar-brand
{
    color: #BBB;
    font-size: 30px;
    line-height: 40px;
}
.navbar-inverse .navbar-brand span
{
    color: #1295DE;
}
.dropdown-menu
{
     background-color: #333;
     border-top:3px solid #1295DE;
     min-width: 200px;
    
}
.navbar-right .dropdown-menu
{
     left: 0;
     right:auto;
}
.dropdown-menu > li > a
{
    color: #FFF;
    padding: 7px 20px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover
{
    background-color: #1295DE;
    color: #FFF;
    padding-left: 30px;
    -webkit-transition:padding .5s ease;
    -moz-transition:padding .5s ease;
    -o-transition:padding .5s ease;
    transition:padding .5s ease;

}
.navbar-nav > li > a {
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
.dropdown-menu .divider
{
    background-color: #1295DE;
}
/* Navbar toggle*/
.navbar-toggle
{
    margin-top: 19px;
}
/*Slide Show*/
.carousel-indicators li
{
    border: solid #EEE;
   height:15px;
   width: 15px;
   
}
.carousel-indicators .active {
    height:17px;
    width: 17px;
    background-color: #1295DE;
}
.about
{
    
    padding-top: 60px;
    padding-bottom: 60px
}
.about-container
{
    background-color: #E9EAED;
}
.about-container h1
{
    margin-bottom: 50px;
}
.footer
{
    background: #333;
    color:#AAA;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.footer a {color:#AAA;}
.footer a:hover {color:#FFF;}
.footer h3
{
    color:#1295DE;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}
.footer .three-columns
{
    overflow: hidden;
}
.footer .three-columns li
{
    width:33.3333%
    float:left;
    padding: 5px 0;
}
.footer .social-list
{
    overflow: hidden;
    margin: 20px 0 10px;
}
.footer .social-list li
{
    float:left;
    margin-right: 3px;
    opacity: 0.7;
    -webkit-transition:all 0.7s ease-in-out;
    -moz-transition:all 0.7s ease-in-out;
    -o-transition:all 0.7s ease-in-out;
    transition:all 0.7s ease-in-out;
}
.footer .social-list li:hover
{
  opacity: 1;   
}
/*Shop Page*/
.box_wrapper {
    background:#333333;
}
.Details a {
    background:#064C74;
    border-color:#064C74;
}
p.title {
color:#333333;
}
.Details a:hover {
    background: none repeat scroll 0% 0% #064C74;;
    border-right: 3px solid #FFF;
    color:#828282;
}
/*login page*/
.btn-info {
    background-color:#1295DE;
}
.navbar-form {
margin-left: 400px;
padding-top: 150px;
    
}
/*view.php page*/
.table {
    margin-top: 50px;
}