.navbar-form {
margin-left:0px;
margin-top: 1px;
    
}
body{
        background: url('../img/Blu-BKGD.jpg');
}
.view
{
        margin-top:-75px;
    margin-left: 472px;
}
.submit{
    margin-top: 52px;
    margin-left: 600px;
}